<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>KPMG | Register</title>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="images/favicon.ico/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="images/favicon.ico/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/favicon.ico/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="images/favicon.ico/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/favicon.ico/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="images/favicon.ico/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="images/favicon.ico/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="images/favicon.ico/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="images/favicon.ico/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="images/favicon.ico/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon.ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="images/favicon.ico/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.ico/favicon-16x16.png">
    <link rel="manifest" href="images/favicon.ico/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="images/favicon.ico/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- Bootstrap -->
    <link href="vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- Animate.css -->
    <link href="vendors/animate.css/animate.min.css" rel="stylesheet">

    <!-- iCheck -->
    <link href="vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- bootstrap-wysiwyg -->
    <link href="vendors/google-code-prettify/bin/prettify.min.css" rel="stylesheet">
    <!-- Select2 -->
    <link href="vendors/select2/dist/css/select2.min.css" rel="stylesheet">
    <!-- Switchery -->
    <link href="vendors/switchery/dist/switchery.min.css" rel="stylesheet">
    <!-- starrr -->
    <link href="vendors/starrr/dist/starrr.css" rel="stylesheet">
    <!-- bootstrap-daterangepicker -->
    <link href="vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <!-- Code9 -->
    <link href="vendors/Code-9/code9.css" rel="stylesheet">
    <!-- Dropzone.js -->
    <link href="vendors/dropzone/dist/min/dropzone.min.css" rel="stylesheet">
    <!-- bootstrap Tags -->
    <link href="vendors/bootstrap-tagsinput-latest/src/bootstrap-tagsinput.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <!-- Bootstrap Multi-select-->
    <link href="vendors/bootstrap-multiselect/dist/css/bootstrap-multiselect.css" rel="stylesheet"/>

    <link href="/stylesheets/custom.min.css" rel="stylesheet">
</head>
<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <!-- KPMG Logo Side Bar-->
                <div class="navbar nav_title" style="border: 0;">
                    <a href="#" class="site_title"><img src="images/logo/KPMG_Square_White.png" width="55px" height="55px"></a>
                </div>

                <div class="clearfix"></div>

                <!-- menu profile quick info -->
                <div class="profile clearfix">
                    <div class="profile_pic">
                        <img src="images/default_user.png" alt="..." class="img-circle profile_img">
                    </div>
                    <div class="profile_info">
                        <span>Welcome,</span>
                        <%
                        if((typeof name != 'undefined') && (typeof surname != 'undefined'))
                        {
                        %><h2><%=name%> <%=surname%></h2><%
                        }
                        else{
                        %><h2>user</h2><%
                        }
                        %>
                    </div>
                </div>
                <!-- /menu profile quick info -->

                <br />

                <!-- sidebar menu -->
                <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                    <div class="menu_section">
                        <h3>General</h3>
                        <ul class="nav side-menu">
                            <li><a><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a href="#">Dashboard<span class="label label-success pull-right">Coming Soon</span></a></li>
                                    <li><a href="#">Inbox <span class="label label-success pull-right">Coming Soon</span></a></li>
                                    <li><a href="#">Calendar<span class="label label-success pull-right">Coming Soon</span></a></li>
                                </ul>
                            </li>
                            <li><a><i class="fa fa-user"></i> Admin <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <%
                                    if(typeof role != 'undefined')
                                    {
                                    if(role=="Manager"){
                                    %><li><a href="project_creation">Add Project</a></li><%
                                    }
                                    if(role=="Admin"){
                                    %><li><a href="admin">Register Employee</a></li><%
                                    }
                                    }%>
                                    <!--TODO: Add this code to every page but make sure that user_role is sent to that page -->
                                    <li><a href="#">Profile <span class="label label-success pull-right">Coming Soon</span></a></li>
                                    <li><a href="#">Projects</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- /sidebar menu -->

                <!-- /menu footer buttons -->
                <div class="sidebar-footer hidden-small">
                    <a data-toggle="tooltip" data-placement="top" title="Settings">
                        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                    </a>
                    <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                        <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                    </a>
                    <a data-toggle="tooltip" data-placement="top" title="Lock">
                        <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                    </a>
                    <a data-toggle="tooltip" data-placement="top" title="Logout" href="logout">
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                    </a>
                </div>
                <!-- /menu footer buttons -->
            </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
            <div class="nav_menu">
                <nav>
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>

                    <ul class="nav navbar-nav navbar-right">
                        <li class="">
                            <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <img src="images/default_user.png" alt="">
                                <%if((typeof name != 'undefined') && (typeof surname != 'undefined'))
                                {
                                %><span><%=name%> <%=surname %></span><%}
                                else{
                                    %><a>user</a><%
                                }
                                %>
                                <span class=" fa fa-angle-down"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-usermenu pull-right">
                                <li><a href="javascript:;"> Profile</a></li>
                                <li>
                                    <a href="javascript:;">
                                        <span class="badge bg-red pull-right">50%</span>
                                        <span>Settings</span>
                                    </a>
                                </li>
                                <li><a href="javascript:;">Help</a></li>
                                <li><a href="logout"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                            </ul>
                        </li>

                        <li role="presentation" class="dropdown">
                            <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-envelope-o"></i>
                                <span class="badge bg-green">1</span>
                            </a>
                            <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                                <li>
                                    <a>
                                        <span class="image"><img src="images/default_user.png" alt="Profile Image" /></span>
                                        <span>
                          <span>
                              <%if((typeof name != 'undefined') && (typeof surname != 'undefined'))
                              {
                              %><a><%=name%> <%=surname %></a><%}
                              else{
                              %><a>user</a><%
                              }
                              %></span>
                          <span class="time">3 mins ago</span>
                        </span>
                                        <span class="message">
                          Welcome to the KPMG employee registration page
                        </span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
            <h2>Registration Form <small>Register A New User</small></h2>
            <hr/>
            <ul class="nav navbar-right panel_toolbox">
                <li  style="float: right" class="dropdown">
                    <a  href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Settings 1</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="clearfix"></div>
            <!-- start form for validation -->
            <form id="demo-form" data-parsley-validate action="register_employee" method="post">
                <div class="row">
                    <div class="col-md-6">
                        <label for="empid">Employee ID: *</label>
                        <input id="empid" name="empid" type="text" class="form-control" placeholder="Employee ID" required="" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="rolelist">Role: *</label>
                        <select class="form-control" id="rolelist" name="role">
                            <option>Employee</option>
                            <option>Manager</option>
                            <option>Admin</option>
                        </select>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 10px">
                    <div class="col-md-6">
                        <label for="firstname">First Name: *</label>
                        <input id="firstname" name="firstname" type="text" class="form-control" placeholder="Name" required="" />
                    </div>
                    <div class="col-md-6">
                        <label for="lastname">Last Name: *</label>
                        <input id="lastname" name="lastname" type="text" class="form-control" placeholder="Surname" required="" />
                    </div>
                </div>
                <div class="row" style="margin-bottom: 10px">
                    <div class="col-md-3">
                        <label for="email">Email: *</label>
                        <input id="email" name="email" type="email" class="form-control" placeholder="Email" required="" />
                    </div>
                    <div class="col-md-3">
                        <label class="control-label">Contact Number: *</label>
                        <input type="text" name="contact" class="form-control" data-inputmask="'mask' : '(999) 999 - 9999'" data-parsley-trigger="change" required >
                    </div>
                    <div class="col-md-3">
                        <label for="emplength">Employment Length (in years): *</label>
                        <input id="emplength" name="emplength" type="number" class="form-control" placeholder="Employment Length" required="" />
                    </div>
                <div class="row" style="margin-bottom: 10px">
                    <label for="pastprojects" class="control-label">Past Projects: *</label>
                        <select id="pastprojects" class="multiselect-ui form-control" multiple="multiple">
                            <option value="cheese">Cheese</option>
                            <option value="tomatoes">Tomatoes</option>
                            <option value="mozarella">Mozzarella</option>
                            <option value="mushrooms">Mushrooms</option>
                            <option value="pepperoni">Pepperoni</option>
                            <option value="onions">Onions</option>
                        </select>
                    <div class="form-group col-md-6">
                        <label class="control-label">Skill Tags: *</label>
                        <input id="tags_1" name="skills" type="text" class="tags form-control" value="MS Office, Accounting Skills, Auditor" data-parsley-trigger="change" required  />
                    </div>
                </div>
                <div>
                    <input class="btn btn-dark submit" type="submit" value="Submit">
                </div>

                <div class="clearfix"></div>
                </div>
            </form>
            <!-- end form for validations -->
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
            <div class="pull-right">
                Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
            </div>
            <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
    </div>
</div>
<script>
    function addCombo() {
        var textb = document.getElementById("txtCombo");
        var combo = document.getElementById("combo");

        var option = document.createElement("option");
        option.text = textb.value;
        option.value = textb.value;
        try {
            combo.add(option, null); //Standard
        }catch(error) {
            combo.add(option); // IE only
        }
        textb.value = "";
    }
</script>
<%- include('footer'); %>