<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>KPMG | Project Edit</title>

    <!-- Favicon -->
    <%- include('favicon'); %>

    <!-- Stylesheets -->
    <%- include('stylesheets'); %>
</head>
<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <!-- Sidebar -->
        <%- include('sidebar'); %>

        <!-- top navigation -->
        <%- include('top_nav'); %>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
            <!--todo add project name to edit here-->
            <h2>Edit Project<small id="project-name">&nbsp;&nbsp;&nbsp; PROJECT NAME HERE</small></h2>
            <hr/>
            <!--<ul class="nav navbar-right panel_toolbox">-->
            <!--<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>-->
            <!--</li>-->
            <!--<li class="dropdown">-->
            <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>-->
            <!--<ul class="dropdown-menu" role="menu">-->
            <!--<li><a href="#">Settings 1</a>-->
            <!--</li>-->
            <!--<li><a href="#">Settings 2</a>-->
            <!--</li>-->
            <!--</ul>-->
            <!--</li>-->
            <!--</ul>-->
            <div class="clearfix"></div>
            <!-- start form for validation -->
            <form id="demo-form" data-parsley-validate action="project_creation" method="post">

                <div class="row">
                    <div class="col-md-6">
                        <label for="CurrentDeadline">Current Deadline: *</label>
                        <input readonly type="date" id="CurrentDeadline" class="form-control" name="CurrentDeadline"  />
                    </div>
                    <div class="col-md-6">
                        <label for="ChangeDueDate">Change Deadline: *</label>
                        <input type="date" id="ChangeDueDate" class="form-control" name="ChangeDueDate" required />
                    </div>
                </div>
                <br/>
                <!-- TODO show this table once button is clicked-->
                <div class="">
                    <div id="employeeTable" class="x_panel">
                    </div>
                </div>
                <!-- TODO Table end-->

                <button id="updateProject" class="btn btn-conf btn-dark docs-tooltip" data-toggle="tooltip" title="Update Project">Update Project</button>
            </form>
            <!-- end form for validations -->
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
            <div class="pull-right">
                Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
            </div>
            <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
    </div>
</div>

<script src="vendors/Code-9/views/projEdit.js"></script>
<!--Vendors js files-->
<%- include('javascripts'); %>
</body>
</html>
